{% extends "layout.html" %} {% block content %}
{% assets "css_all" %}
        <link rel=stylesheet type=text/css href={{ ASSET_URL }}></link>
{% endassets %}
<!--<h1>Rek dis guy</h1>-->
<div class="home">
    <div style="z-index: -1">
        <img src={{ url_for('static', filename='background.jpeg') }}></img>
    </div>
    <div class="search-wrap">
        <form class="search-input" action="/profile">
            <input class="search-summoner" type="text" name="summonerName" />
            <i class="fa fa-search"></i>
        </form>
    </div>
</div>
{% endblock %}