{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <script>
        $(document).ready(function(){
            $("#search1").text(localStorage[(Number(localStorage.searchCount)+4)%5]);
            $("#search1").attr("href","/profile?summonerName="+localStorage[(Number(localStorage.searchCount)+4)%5]);
            $("#search2").text(localStorage[(Number(localStorage.searchCount)+3)%5]);
            $("#search2").attr("href","/profile?summonerName="+localStorage[(Number(localStorage.searchCount)+3)%5]);
            $("#search3").text(localStorage[(Number(localStorage.searchCount)+2)%5]);
            $("#search3").attr("href","/profile?summonerName="+localStorage[(Number(localStorage.searchCount)+2)%5]);
            $("#search4").text(localStorage[(Number(localStorage.searchCount)+1)%5]);
            $("#search4").attr("href","/profile?summonerName="+localStorage[(Number(localStorage.searchCount)+1)%5]);
            $("#search5").text(localStorage[Number(localStorage.searchCount)%5]);
            $("#search5").attr("href","/profile?summonerName="+localStorage[Number(localStorage.searchCount)%5]);
            $(".search-summoner").keydown(function (event){
                if (event.keyCode == 13){
                    localStorage[localStorage.searchCount]=$(".search-summoner").val();
                    localStorage.searchCount=(Number(localStorage.searchCount)+1)%5;
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
{% assets "css_all" %}
        <link rel=stylesheet type=text/css href={{ ASSET_URL }}></link>
{% endassets %}
<!--<h1>Rek dis guy</h1>-->
<div class="home">
    <div id="homeimgwrap" style="z-index: -1">
        <img id="homeimg" src={{ url_for('static', filename='background.jpeg') }}></img>
    </div>
    <div class="search-wrap">
        <form class="search-input" action="/profile">
            <input class="search-summoner" type="text" name="summonerName" />
            <i class="fa fa-search"></i>
        </form>
        <ul id="search_history">
             <li><a id="search1"></a></li>
             <li><a id="search2"></a></li>
             <li><a id="search3"></a></li>
             <li><a id="search4"></a></li>
             <li><a id="search5"></a></li>
         </ul>
    </div>
</div>
{% endblock %}
