{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Email:<br>
          {{ form.email(size=40) }}<br>
      </p>
      <p>
          Password:<br>
        {{ form.password(size=40) }}</p>
      <p><input type="submit" value="Sign In"></p>
  </form>

  <a id="signup" href="/signup">Don't have an account? Sign up here</a>
{% endblock %}
