/* line 5 */
body {
  background: #31284D;
  font-family: Helvetica, Arial, Sans-Serif;
}

/* line 9 */
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #31373F;
}

/* line 17 */
li {
  float: left;
}

/* line 21 */
li a {
  display: block;
  color: #828285;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* line 28 */
.search-input {
  position: relative;
  top: 150px;
  left: 0;
  right: 0;
  text-align: center;
}

/* line 36 */
.search-summoner {
  border-radius: 10px;
  width: 600px;
  height: 30px;
  left: 50%;
  text-align: center;
}

/* line 43 */
.search-wrap {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  border-radius: 15px;
  width: 830px;
  min-height: 250px;
  margin: 30px auto;
  background-color: #D5D5D6;
  box-shadow: 1px 1px 1px 1px #888888;
}

/* line 56 */
.search {
  width: 300px;
  margin: 30px auto;
}

/* line 61 */
.top-wrapper {
  position: absolute;
  top: 10%;
  left: 0px;
  right: 0;
  text-align: center;
  margin: 0px auto;
  background-color: #D5D5D6;
  width: 1200px;
  height: 250px;
}

/* line 72 */
.top-wrapper .itemBox {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

/* line 78 */
.placeholder {
  width: auto;
}

/* line 81 */
.content-wrap {
  position: relative;
  top: 400px;
}

/* line 85 */
.rankedStat {
  background-color: #D5D5D6;
  text-align: center;
}

/* line 89 */
.masteryBox {
  text-align: center;
}

/* line 92 */
.trendingBox {
  background-color: #D5D5D6;
}
