$primaryColor: #2E2D47;

html {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    color: aqua;
}

html body {
    background: $primaryColor;
}

.navbar-default{
    background-color:red;
    border-color: green;
}
/*.navbar-custom {
    color: #2E2D47;
}*/