{% extends "layout.html" %}

{% block head %}
  	{{ super() }}
  	<style>
  		#left{
			width: 60%;
  		}
  		#right {
			background-color:#31373F;
			position:absolute;
			top:10%;
			bottom: 0;
			right:0;
			width: 45%;
		}
		#bans img{
			width: 14.5%;
		}
		#bluepicks img{
			width: 17.5%;
		}
		#redpicks img{
			width: 17.5%;
		}
	</style>
  	
	<script>
		$(document).ready(function(){
			sessionStorage.count=0;
    		$("#left").load("./suggested");
    	});
	</script>
{% endblock %}

{% block content %}
	<div id='left'></div>
    
    <div id='right'>
    	
    		<p>Bans</p>
    		<ul id="bans">
	    		<li id="ban0"></li>
		    	<li id="ban1"></li>
		    	<li id="ban2"></li>
		    	<li id="ban3"></li>
		    	<li id="ban4"></li>
		    	<li id="ban5"></li>
		    </ul>
		
			<p>Picks</p>
	    	<ul id="redpicks">
	    		<li id="pick6"></li>
		    	<li id="pick7"></li>
		    	<li id="pick8"></li>
		    	<li id="pick9"></li>
		    	<li id="pick10"></li>
		    </ul>
		    <ul id="bluepicks">
		    	<li id="pick11"></li>
		    	<li id="pick12"></li>
		    	<li id="pick13"></li>
		    	<li id="pick14"></li>
		    	<li id="pick15"></li>
		    </ul>
		    <button type="button" id="search">Red</button> 
		    <button type="button" id="search">Blue</button> 
    </div>
{% endblock %}