<!DOCTYPE HTML>
<html>
     <style>
		#champions{
			position: absolute;
			top:10%;
			bottom: 0;
			width: 65%;
			max-height:10;
			overflow: auto;
		}
		li {
			display: inline;
		}
		
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <body>
     	<div id='champions'>
     		<script id="champListjs">
				$(document).ready(function(){
		    		$("#back").click(function(){
		        		$("#champions").load("../suggested");
		    		});
		    		$("img").click(function(){
				    	$img = $(this).clone();
				    	$("#right").show().html($img);
				    });
		    	});
			
			</script>
     		<ul>
        		<li><button type="button" id="back">Back</button></li>
        		{% for champs in champList %}
					{% if champs['key'].lower() == query or query == "" %}
						<li><img src='/static/images/champion/{{champs['key']}}.png'></li>
					{% endif %}
	        	{% endfor %}
			</ul>
			
       </div>
     </body>
</html>