<!DOCTYPE HTML>
<html>
     <style>
        .row {
            display:inline;
        }
		li {
    		display:inline;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <body>
     	<div id="champSelect">
			
			<script id='banjs'>
				$(document).ready(function(){
		    		$("#search").click(function(){
		        		$("#champSelect").load("../champList","search=" + $('#text').val());
		    		});
		    		$("#text").keydown(function (event){
		    			if (event.keyCode == 13){
						    event.preventDefault();
		       				$("#champSelect").load("../champList","search=" + $('#text').val());
		       			}
		       		});
		    	});
			</script>
            <div class="Container">
                <div class="header"/>
                    <p>Highest Winrate Champions</p>
                </div>
                <div class="Wrapper">
                    <ul>
                        {% for champs in highWin %}
                        <div class="row">
                            <img src='/static/images/champion/{{ champs['key'] }}.png'>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            </div>

		    <p>Most Played Champions</p>
		    <ul>
		    	{% for champs in mostPlayed %}
					<li><img src='/static/images/champion/{{ champs['key'] }}.png'></li>
		    	{% endfor %}
		    </ul>

		    <p>Most Banned Champions</p>
		    <ul>
		    	{% for champs in mostBanned %}
					<li><img src='/static/images/champion/{{champs['key']}}.png'></li>
		    	{% endfor %}
		    </ul>
		
			
	        <input type="text" name="text" id = 'text'>
	        <button type="button" id="search">Search</button>   
		</div>
    </body>
</html>