<!DOCTYPE HTML>
<html>
     <style>
     	#champSelect{
     	}
        .row {
            display:inline;
        }
		li {
    		display:inline;
		}
		img {
			width: 14%;
		}
	</style>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <body>
     	<div id="champSelect">
			
			<script id='banjs'>
				$(document).ready(function(){
		    		$("#search").click(function(){
		        		$("#champSelect").load("../champList","search=" + $('#text').val());
		    		});
		    		$("#text").keydown(function (event){
		    			if (event.keyCode == 13){
						    event.preventDefault();
		       				$("#champSelect").load("../champList","search=" + $('#text').val());
		       			}
		       		});
		    		var ban = $("#right li");
		       		$("img").click(function(){
				    	$img = $(this).clone();
				    	if(Number(sessionStorage.count)>5 && Number(sessionStorage.count)<16){
				    		if(Number(sessionStorage.count)%2===0){
				    			ban.eq((Number(sessionStorage.count)+6)/2).show().html($img);
				    			sessionStorage.count=Number(sessionStorage.count)+1;
				    		}
				    		else{
				    			ban.eq((Number(sessionStorage.count)+15)/2).show().html($img);
				    			sessionStorage.count=Number(sessionStorage.count)+1;
				    		}
				    	}
				    	else{
					    	ban.eq(sessionStorage.count).show().html($img);
					    	sessionStorage.count=Number(sessionStorage.count)+1;
					    }
				    });
		    	});
			</script>
            
                
            <p>Highest Winrate Champions</p>
            <ul>
                {% for champs in highWin %}
               	        <img src='/static/images/champion/{{ champs['key'] }}.png'>
                {% endfor %}
            </ul>
                        

		    <p>Most Played Champions</p>
		    <ul>
		    	{% for champs in mostPlayed %}
					<img src='/static/images/champion/{{ champs['key'] }}.png'>
		    	{% endfor %}
		    </ul>

		    <p>Most Banned Champions</p>
		    <ul>
		    	{% for champs in mostBanned %}
					<img src='/static/images/champion/{{champs['key']}}.png'>
		    	{% endfor %}
		    </ul>
		
			
	        <input type="text" name="text" id = 'text'>
	        <button type="button" id="search">Search</button>   
		</div>
    </body>
</html>