{% extends "layout.html" %}

{% block title %} Dynamic Queue {% endblock %}

{% block head %} {{ super() }} {% endblock %}

{% block content %}
<h1>Dynamic Queue Options</h1>
<form action="" method="post" name="login">
    {{ form.hidden_tag() }}
    <p>
        Less Skill Than You:<br>
        {{ form.lower_than_me }}<br>
    </p>
    <p>
        Equal Skill to You:<br>
        {{ form.equal_to_me }}<br>
    </p>
    <p>
        More Skill Than You:<br>
        {{ form.greater_than_me }}<br>
    </p>
    <p><input type="submit" value="Sign In"></p>
</form>
<div>
    {% for player in player_list %}
        <div>

        </div>
    {% endfor %}
</div>
{% endblock %}
