<!DOCTYPE HTML>
<html>

<head>
    <title>AyyLmaokai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    {% assets "css_all" %}
        <link rel=stylesheet type=text/css href={{ ASSET_URL }}></link>
    {% endassets %}
    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>

<body>
    <div class="header">
        <ul>
            <li><a href="/" class="navbar-brand"> Ayy Lmaokai </a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="#">Placeholder</a></li>
        </ul>
    </div>

    <div class="content">

    </div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <!-- content inheritance starts here -->
    {% block content %}{% endblock %}
    <script type="text/javascript" src={{ url_for('static', filename="graphs.js") }}></script>
</body>

</html>
