<!DOCTYPE HTML>
<html>

<head>
    <title>Stuck In Bronze</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    {% assets "css_all" %}
        <link rel=stylesheet type=text/css href={{ ASSET_URL }}></link>
    {% endassets %}
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!-- Jquery -->
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function(){
            if(!"{{g.user.league_name}}"){
                $("#username").hide();
                $("#dynamic").hide();
            }
            else{
                $("#navbar_login").hide();
            }
        });
    </script>
    {% block head %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>

<body>
    <div class="header">
        <ul id="navbar_list">
            <li><a href="/" class="navbar-brand"> Stuck In Bronze </a></li>
            <li><a href="/trending">Trending</a></li>
            <li><a href="/pickban">Pick/Ban</a></li>
            <li style="float:right" id="navbar_login"><a href="/login">Login/Register</a></li>
            <li style="float:right" id="username"><a href="#">{{g.user.league_name}}</a>
                <ul id="dropdown_menu">
                    <li><a href="#">Settings</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li style="float:right" id="dynamic"><a href="/dynamic_queue">Queue Up!</a></li>

        </ul>
    </div>
    
    <div class="content">

    </div>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
    <!-- content inheritance starts here -->
    {% block content %}{% endblock %}
</body>

</html>